<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <th:block th:fragment="navbar">
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/dice-roll}">Dice Roll</a></li>
            <li><a th:href="@{/posts}">Posts</a></li>
            <li><a th:href="@{/posts/create}">Create a New Post</a></li>
            <li><a th:href="@{/fileupload}">File Upload</a></li>
            <li><a th:href="@{/gallery}">Upload Gallery</a></li>
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
    </nav>
    </th:block>
</body>
</html>