body{
    background-color: black;
    color: white;
}
h1 {
    font-family: 'Exo', sans-serif;

}
nav>ul>li {
    list-style-type: none;
    display: inline;
}

a {
    color: blue;
}

.hrFix {
    height: 2px;
    border: none;
    color: black;
    background-color: white;
}

/*font-family: 'ZCOOL QingKe HuangYou', cursive;*/
/*font-family: 'Exo', sans-serif;*/
/*font-family: 'Poiret One', cursive;*/