body{
    background-color: black;
    color: white;
    font-family: 'Exo', sans-serif;
}
h1 {
    font-family: 'Poiret One', cursive;
}

label{
    font-size: 25px;
}

nav>ul>li {
    list-style-type: none;
    display: inline;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 20px;
    padding-right: 10px;
}

a {
    color: aqua;
}

.btnFix {
    color: aqua !important;
    font-size: 12px;
}

.hrFix {
    height: 2px;
    border: none;
    color: black;
    background-color: white;
}


input[type='text'] {
    width:100%;
}

textarea {
    width: 100%;
}
.alertIcon{
    display:inline-block;
    font-size: 400px;
    line-height: 50px;
    background-color:black;
    color:white;
    width: 800px;
    height: 800px;
    text-align: center;
    vertical-align: bottom;
}
/*font-family: 'ZCOOL QingKe HuangYou', cursive;*/
/*font-family: 'Exo', sans-serif;*/
/*font-family: 'Poiret One', cursive;*/