<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('CREATE')">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <h1>CREATE A NEW POST</h1>
    <div class="form-group">
        <form id="createForm" th:action="@{/posts/create}" th:method="post" th:object="${blogpost}">
            <label for="title">Title</label>
            <br/>
            <input type="text" id="title" name="title" th:field="*{title}"/>
            <br/>
            <label for="post">Post</label>
            <br/>
            <textarea id="post" name="post" rows="10" th:field="*{post}"></textarea>
            <!--<input type="hidden" th:field="${user_id}" th:value="${user}"/>-->
            <input type="submit" class="btn btn-block btn-primary" value="Create"/>
        </form>
    </div>

    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>