<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <h1>Try to guess what the dire roll will be</h1>
    <a th:href="@{/dice-roll/1}">1</a>
    <br />
    <a th:href="@{/dice-roll/2}">2</a>
    <br />
    <a th:href="@{/dice-roll/3}">3</a>
    <br />
    <a th:href="@{/dice-roll/4}">4</a>
    <br />
    <a th:href="@{/dice-roll/5}">5</a>
    <br />
    <a th:href="@{/dice-roll/6}">6</a>
</body>
</html>