<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('DELETE')">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="form-group">
    <form id="editForm" th:action="@{/posts/edit}" th:method="post" th:object="${post}">
        <label for="title">Title</label>
        <br/>
        <input type="text" id="title" name="title" th:field="*{title}"/>
        <br/>
        <label for="post">Post</label>
        <br/>
        <textarea id="post" name="post" th:field="*{post}"></textarea>
        <input type="hidden" id="id" name="id" th:field="*{id}" th:value="${post.id}"/>
        <input type="submit" class="btn btn-block btn-primary" value="Edit"/>
    </form>
    </div>

    <div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>