<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('UPLOAD RESULT')">

</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:replace="fragments/scripts :: scripts"></div>
    <script src="//static.filestackapi.com/filestack-js/1.x.x/filestack.min.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const apikey = 'AsMPzKzyTr6BQWcta2RRCz';
            const client = filestack.init(apikey);
            const options = {
                maxFiles: 20,
                uploadInBackground: false,
                onOpen: () => console.log('opened!'),
                onUploadDone: (res) => console.log(res),
            };
            client.picker(options).open();
        });
    </script>
</body>
</html>