<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('UPLOAD')">

</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <h1 th:if="${!currentUser.username.equals(userCheck)}">File upload is currently only for admin accounts, please contact an admin if you need to upload a file</h1>
    <div th:if="${currentUser.username.equals(userCheck)}">
    <form th:action="@{/fileupload}" method="post" enctype="multipart/form-data">
        <label for="file">Upload a file!</label>
        <br/>
        <input id="file" name="file" type="file" />
        <br />
        <input type="submit" value="upload" />
    </form>
    </div>
    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>